<body style="background-color:pink;">
<h1 style="text-align: center;">Welcome to an Ruby on Rails application</h1>
<h1>&nbsp;</h1>
<p style="text-align: center;"><strong><em>This is an simple Ruby on Rails blog app for ex02 of the docker-1 project !</em></strong></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><em>hgadacha</em></p>
